name: Dockerfile

on:
  push:
    branches:
      - master
    tags:
      - "*"
  pull_request:
  release:
    types: [published]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_protected == 'true' && github.sha || github.ref }}
  cancel-in-progress: true

env:
  HEAD_SHA: ${{ github.event.pull_request.head.sha || github.sha }}
  # the only time system test image needs to be defined for a push is when it's a non 'v' tag creation
  PUSH_ENABLED: ${{ secrets.DOCKERHUB_TOKEN && github.ref_type == 'tag' && startsWith(github.ref_name, 'v') != true && 'true' || 'false' }}
  IMAGE: ${{ format('{0}/{1}:{2}', secrets.DOCKERHUB_TOKEN && 'docker.io' || 'ghcr.io', github.repository, github.ref_type == 'tag' && github.ref_name || github.event.ref || 'latest') }}
  SOROBAN_CLI_GIT_REF: https://github.com/stellar/soroban-tools.git#main
  # leaving sdk npm version blank defaults to whatever npm has for latest version
  # rather than build from git source, which is fine for ci test build
  JS_STELLAR_SDK_NPM_VERSION:
jobs:
  complete:
    if: always()
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
        run: exit 1

  build:
    runs-on: ubuntu-latest-16-cores
    outputs:
      push_enabled: ${{ env.PUSH_ENABLED }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ env.HEAD_SHA }}
      - name: Restore Docker buildx cache
        uses: actions/cache/restore@v4
        with:
          path: /tmp/buildx-cache
          key: buildx-${{ runner.os }}-${{ github.sha }}
          restore-keys: |
            buildx-${{ runner.os }}-
      - name: Ensure cache directory exists
        run: |
          mkdir -p /tmp/buildx-cache
          mkdir -p /tmp/buildkit-socket        
      - name: Start custom BuildKit container with volume mount to gha runner(UNIX Socket)
        run: |
          docker run -d --name custom_buildkitd \
            --privileged \
            -v /tmp/buildkit-socket:/tmp/buildkit-socket \
            -v /tmp/buildx-cache:/tmp/buildx-cache \
            moby/buildkit:latest --addr unix:///tmp/buildkit-socket/buildkitd.sock
      - name: Confirm custom_buildkitd is active
        run: |
          docker ps --filter name=custom_buildkitd
          # Wait for the socket
          timeout 30s bash -c 'while [ ! -S /tmp/buildkit-socket/buildkitd.sock ]; do sleep 0.5; done'      
          if [ $? -ne 0 ]; then
            echo "Timeout reached. Printing container logs before exiting:"
            docker logs custom_buildkitd
            exit 1 # Explicitly fail the GHA step after printing logs
          fi
      - name: Create buildx builder instance (UNIX Socket)
        run: |
          docker buildx create --name custombuilder --driver remote unix:///tmp/buildkit-socket/buildkitd.sock --use
          docker buildx inspect custombuilder --bootstrap      

      - name: Build System Test Image
        run: |
          make USE_LOCAL_CACHE=true \
               SYSTEM_TEST_IMAGE=${{ env.PUSH_ENABLED == 'true' && env.IMAGE || 'stellar/system-test:dev' }} \
               JS_STELLAR_SDK_NPM_VERSION=${{ env.JS_STELLAR_SDK_NPM_VERSION }} \
               build;

      - name: Save Docker buildx cache
        uses: actions/cache/save@v4
        with:
          path: /tmp/buildx-cache
          key: buildx-${{ runner.os }}-${{ github.sha }}

      - if: ${{ env.PUSH_ENABLED == 'true' }}
        name: Save Docker Image to file
        run: |
          docker save ${{ env.IMAGE }} -o /tmp/image;
      - if: ${{ env.PUSH_ENABLED == 'true' }}
        name: Upload System Test Image
        uses: actions/upload-artifact@v4
        with:
          name: image-Dockerfile
          path: /tmp/image

  push:
    # Only push non 'vX.Y.Z' tags as pre-built system test image with versions compiled into image.
    # pr's and releases don't need to be pushed as docker images, because system test is meant to be built
    # from source locally.
    needs: build
    permissions:
      packages: write
      statuses: write
    runs-on: ubuntu-latest
    if: needs.build.outputs.push_enabled == 'true'
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ env.HEAD_SHA  }}
      - id: push
        uses: ./.github/actions/push
        with:
          head_sha: ${{ env.HEAD_SHA }}
          artifact_name: image-Dockerfile
          artifact_image_file: image
          image: ${{ env.IMAGE }}
          registry: ${{ secrets.DOCKERHUB_TOKEN && 'docker.io' || 'ghcr.io' }}
          username: ${{ secrets.DOCKERHUB_USERNAME || github.actor }}
          password: ${{ secrets.DOCKERHUB_TOKEN || github.token }}
