name: Systems test workflow, next gen, uses quickstart pipelines

on:
  workflow_call:
    inputs:
      runner:
        description: "GitHub runner to use"
        required: false
        type: string
        default: "ubuntu-latest"

      system-test-git-ref:
        description: "the git ref (branch, tag, sha) to use for system-test"
        required: false
        type: string
        default: master

      stellar-cli-repo:
        description: "The git repo for stellar-cli"
        required: false
        type: string
        default: "stellar/stellar-cli"
      stellar-cli-ref:
        description: |
          git ref of stellar cli software version to build
        required: false
        type: string

      stellar-cli-crate-version:
        description: |
          version of stellar-cli crate to use, if not using git ref and repo
        required: false
        type: string

      test-filter:
        description: |
          example filter for all combos of one scenario outline: ^TestDappDevelop$/^DApp developer compiles, deploys and invokes a contract.*$
          each row in example data for a scenario outline is postfixed with '#01', '#02', example:
          TestDappDevelop/DApp developer compiles, deploys and invokes a contract#01
        required: false
        type: string
        default: "^TestDappDevelop$/^.*$"

      js-stellar-sdk-npm-version:
        description: |
          set the version of js-stellar-sdk to use, need to choose one of either
          resolution options, using this for npm release or a gh ref using js-stellar-sdk-ref:
        required: false
        type: string

      js-stellar-sdk-repo:
        description: |
          set the version of stellar-sdk based on a gh repo, e.g. stellar/js-stellar-sdk
          if set, takes precedence over js-stellar-sdk-npm-version
        required: false
        type: string

      js-stellar-sdk-ref:
        description: "The git ref (branch, tag, sha) to use for js-stellar-sdk if using gh repo option"
        required: false
        type: string  

      stellar-xdr-ref:
        description: "git ref of stellar-xdr to use"
        required: true
        type: string

      stellar-core-ref:
        description: "git ref of stellar-core to use"
        required: true
        type: string
      stellar-rpc-repo:
        description: "The git repo to use for stellar-rpc"
        required: false
        type: string
        default: "stellar/stellar-rpc"

      stellar-rpc-ref:
        description: "git ref of stellar-rpc to use"
        required: true
        type: string

      horizon-ref:
        description: "git ref of stellar/stellar-horizon to use"
        required: true
        type: string

      friendbot-ref:
        description: "git ref of stellar/friendbot to use"
        required: true
        type: string  

      lab-ref:
        description: "git ref of stellar laboratory to use"
        required: true
        type: string

      protocol-version:
        description: "Protocol version to use"
        required: true
        type: string

      rust-toolchain-version:
        description: "Version of Rust toolchain to use in test runtime environment"
        required: true
        type: string

      verbose-output:
        required: false
        type: boolean
        default: true

      soroban-examples-ref:
        description: "The git ref (branch, tag, sha) to use for soroban-examples"
        required: true
        type: string
        
      soroban-examples-repo:
        description: "The git repo to use for soroban-examples"
        required: false
        type: string
        default: "stellar/soroban-examples"

env:
  SYSTEM_TEST_IMAGE: stellar/system-test:cache

jobs:
  prepare-config:
    runs-on: ubuntu-latest
    outputs:
      images-config: ${{ steps.set-config.outputs.images }}
      system-test-image: "${{ env.SYSTEM_TEST_IMAGE}}"
    steps:
      - id: set-config
        run: |
          cat <<EOF >> $GITHUB_OUTPUT
          images<<DELIMITER
          [
            {
              "tag": "rpc-custom",
              "config": {
                "protocol_version_default": ${{ inputs.protocol-version }}
              },
              "deps": [
                { "name": "xdr", "repo": "stellar/rs-stellar-xdr", "ref": "${{ inputs.stellar-xdr-ref }}" },
                { "name": "core", "repo": "stellar/stellar-core", "ref": "${{ inputs.stellar-core-ref }}", "options": { "configure_flags": "--disable-tests" } },
                { "name": "rpc", "repo": "${{ inputs.stellar-rpc-repo }}", "ref": "${{ inputs.stellar-rpc-ref }}" },
                { "name": "horizon", "repo": "stellar/stellar-horizon", "ref": "${{ inputs.horizon-ref }}", "options": { "pkg": "github.com/stellar/stellar-horizon" } },
                { "name": "friendbot", "repo": "stellar/friendbot", "ref": "${{ inputs.friendbot-ref }}", "options": { "pkg": "github.com/stellar/friendbot" } },
                { "name": "lab", "repo": "stellar/laboratory", "ref": "${{ inputs.lab-ref }}" }
              ],
              "additional-tests": []
            }
          ]
          DELIMITER
          EOF
  build-quickstart:
      needs: prepare-config
      uses: stellar/quickstart/.github/workflows/build.yml@main
      with:
        images: ${{ needs.prepare-config.outputs.images-config }}
        archs: '["amd64"]'

  build-system-test:
    runs-on: ubuntu-latest-4-cores
    needs: [prepare-config]
    env:
      SYSTEM_TEST_IMAGE: ${{ needs.prepare-config.outputs.system-test-image }}
    steps:
      - uses: actions/checkout@v3
        with:
          repository: stellar/system-test
          ref: ${{ inputs.system-test-git-ref }}
          path: system-test

      - if: inputs.js-stellar-sdk-repo != ''
        name: prepare local js-stellar-sdk
        run: |
          rm -rf $GITHUB_WORKSPACE/system-test/js-stellar-sdk;

      - if: inputs.js-stellar-sdk-repo != ''
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.js-stellar-sdk-repo }}
          ref: ${{ inputs.js-stellar-sdk-ref }}
          path: system-test/js-stellar-sdk

      - uses: stellar/actions/rust-cache@main
      - uses: docker/setup-buildx-action@v3
        with:
          driver: docker  # Use docker driver instead of default docker-container

      - name: Build system test with component versions
        run: |
          cd $GITHUB_WORKSPACE/system-test
          if [ -z "${{ inputs.js-stellar-sdk-repo }}" ]; then \
            JS_STELLAR_SDK_REF="${{ inputs.js-stellar-sdk-npm-version }}"; \
          else \
            JS_STELLAR_SDK_REF="file:/home/tester/js-stellar-sdk"; \
          fi
          if [ -n "${{ inputs.stellar-cli-ref }}" ] && [ -n "${{ inputs.stellar-cli-repo }}" ]; then \
            STELLAR_CLI_GIT_REF="https://github.com/${{ inputs.stellar-cli-repo }}.git#${{ inputs.stellar-cli-ref }}"; \
          else \
            STELLAR_CLI_CRATE_VERSION="${{ inputs.stellar-cli-crate-version }}"; \
          fi
           
          make \
            USE_GHA_CACHE=true \
            STELLAR_CLI_GIT_REF=$STELLAR_CLI_GIT_REF \
            STELLAR_CLI_CRATE_VERSION=$STELLAR_CLI_CRATE_VERSION \
            RUST_TOOLCHAIN_VERSION=${{ inputs.rust-toolchain-version }} \
            JS_STELLAR_SDK_NPM_VERSION=$JS_STELLAR_SDK_REF \
            SYSTEM_TEST_IMAGE=$SYSTEM_TEST_IMAGE \
            build
      - name: extract image to file
        run: |
          docker save $SYSTEM_TEST_IMAGE -o /tmp/image.tar
      - name: save file to artifact
        uses: actions/upload-artifact@v4
        with:
          name: image-system-test
          path: /tmp/image.tar

  integration:
    name: System tests
    needs: [build-system-test, build-quickstart, prepare-config]
    # Run if build-system-test succeeded OR was skipped because image is already in built(cache hit)
    if: always() && (needs.build-system-test.result == 'success' || needs.build-system-test.result == 'skipped')
    
    strategy:
      matrix:
        scenario-filter: ["${{ inputs.test-filter }}"]
    runs-on: ubuntu-latest
    env:
      SYSTEM_TEST_IMAGE: ${{ needs.prepare-config.outputs.system-test-image }}
    steps:
      - name: Start quickstart with rpc
        uses: stellar/quickstart@main
        with:
          artifact: image-quickstart-rpc-custom-amd64.tar
          tag: rpc-custom-amd64
          enable: core,rpc
      - name: Download system-test image artifact
        uses: actions/download-artifact@v4
        with:
          name: image-system-test
          path: /tmp/
      - name: load system-test image from artifact file
        run: |
          docker load -i /tmp/image.tar
          
      - name: Run system test scenarios
        run: |
          docker run \
          --add-host=host.docker.internal:host-gateway \
          --rm -t --name e2e_test $SYSTEM_TEST_IMAGE \
          --VerboseOutput ${{ inputs.verbose-output }}  \
          --TargetNetworkRPCURL http://host.docker.internal:8000/rpc \
          --TestFilter "${{ matrix.scenario-filter }}" \
          --SorobanExamplesGitHash ${{ inputs.soroban-examples-ref }} \
          --SorobanExamplesRepoURL https://github.com/${{ inputs.soroban-examples-repo }}